body {
  background: #E9EBEE;
}

#find {
  width: 400px;
  height: 23px;
  border-right: none;
  border: none;
  border-radius: 3px 0 0 3px;
}


#navContainer {
  background: #3B5998;
  width: 100vw;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  position: fixed;

}

#userTitle {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#divSections {
  display: flex;
  background: gray;
  width: 100vw;
  height: 93%;

}

#imgFacebook {
  width: 27px;
  height: 30px;

}

#divSearch {
  display: flex;
  align-items: center;
}

#spanFacebook {
  background: white;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  padding: 0 0 6px 0;
  box-sizing: border-box;
  border-radius: 1px;
}

#Search {
  width: 15px;
  height: 15px;
}

#sendUserName {
  box-sizing: border-box;
  height: 23px;
  width: 38px;
  background: #F5F6F7;
  border: none;
  border-radius: 0 3px 3px 0;
}

#parragraphe {
  background: #F5F6F7;
  padding: 8 24px 8px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #4B4F56;
  font-weight: 600;
  margin: 0;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

#new-state {
  width: 100%;
  height: 153px;
  background: white;
  border-radius: 4px;
}

#sectionStates {
  background: #E9EBEE;
  width: 36%;
  height: auto;
  padding-top: 52px;
}

#areaContainer {
  width: 500px;
  height: 71px;
  background: white;
  padding-left: 15px;
  padding-right: 25px;
  box-sizing: border-box;

}

textarea {
  resize: none;
  padding: 23px 48px 13px 12px;
  border: none;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.imgUser {
  width: 40px;
  height: 40px;
}

#divArea {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

hr {
  width: 100%;
  margin-top: 4px;
}

#send-state {
  background: #9CB4D8;
  width: 100%;
  border: none;

}

.comment {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

}


.up {

  display: inline;
  margin-left: 12px;

}

.userTime {
  display: flex;

}

h4 {
  margin: 0;
  color: #385898;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.span {
  color: #616770;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.imgLike {
  width: 17px;
  height: 17px;
}

.like {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  border: none;
}

#wall {
  display: none;
}

#navLogin {
  width: 100vw;
  height: 82px;
  background: #3B5998;
  color: white;
  padding: 0px 270px 0 270px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#containerLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#imgFace {
  width: 150px;
}

#input1 {
  display: flex;
  flex-direction: column;
}

#input2 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

#containerInputs {
  display: flex;
}

#do-login {
  width: 90.5px;
  height: 21px;
  background: rgb(66, 103, 178);
  border-color: #29487D;
  border-right: #29487D;
  border-bottom: #29487D;
  border-width: 1px;
  border-style: solid;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
  color: white;
}



#SectionactiveUserStates {
  background: #E9EBEE;
  width: 45%;
  height: 100%;


}

#activeUserStates {
  width: 205px;
  box-sizing: border-box;
  height: 100%;
  border-left: #CCCCCC;
  border-left-style: solid;
  border-left-width: 1px;
  position: fixed;
  right: 0px;
  top: 42px
}

.userState {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.labelInput {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#divRegister {
  padding-left: 50vw;
  font-family: Arial, Helvetica, sans-serif;
}

.inputRegister {
  width: 399px;
  height: 39px;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(189,199,216);
  border-top-color: rgb(189,199,216);
  border-left-color: rgb(189,199,216);
  border-width: 1px;
  margin-top: 10px;
  font-size: 18px;
  padding: 8px 10px;
}
#buttonRegister{
  background: #5F9B4C;
  width: 194px;
  height: 39px;
  color: white;
  border-color: #3B6E22;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 10px;
  font-size: 19px;
}